doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title contact form
        style
            include contact1_style.css
    body
        nav
            ul
                li #[a(href="/" target="_blank") home]
                li #[a(href="/" target="_blank") about]
                li #[a(href="/" target="_blank") games]
                li #[a(href="/" target="_blank") download]
                li #[a(href="/contact" target="_blank") contact us]
        form(action="/contact" method="POST")
            input(type="text" class ="inputs" id="name" name="name" placeholder="please enter your name")
            input(type="text" class ="inputs" id="age" name="age" placeholder="please enter your age")
            input(type="text" class ="inputs" id="gender" name="gender" placeholder="please enter your gender")
            input(type="email" class ="inputs" id="email" name="email" placeholder="please enter your email")
            input(type="submit" class ="btn")