<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/817ce0a9b6.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="login_style.css" />
    <title>login</title>
  </head>
  <body>
    <div class="login">
      <i class="fas fa-grin-alt" id="icon"></i>
      <h3 class="main head">welcome home, gamer.</h3>
      <form action="/" method="POST" class="main_login">
        <label class="label" for="username">USERNAME</label>
        <input class="form" type="text" name="username" id="username" />
        <label class="label" for="password">PASSWORD</label>
        <input class="form" type="password" name="password" id="password" />
        <!-- <input type="submit" name="login" id="login" value="Log in" /> -->
        <button class="btn">LOG IN</button>
      </form>
    </div>
  </body>
</html>
